body {
    background: silver;
}

#cabecalho {
    background: gray;
    padding: 15px;
    border: solid black;
    margin: 5px;
}

#title {
    font-size: 25px;
}

.subtitle {
    font-size: 25px;
}

.post_title{
    color: blue;
    font-size: 16px;
    font-style: italic;
}

#contact {
    font-size: 16px;
}

.artigo{
    background: white;
    padding: 5px;
    border: solid blue;
    margin: 10px;
}

#contato{
    background: gray;
    padding: 5px;
    border: solid black;
    margin: 10px;
}
